/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-300.woff') format('woff'); /* Modern Browsers */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-600.woff') format('woff'); /* Modern Browsers */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid rgba(29, 29, 197, .3);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  max-width: 1540px;
  margin-left: 185px;
}

.btn {
  display: inline-block;
  padding: 15px 16px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background-color: #3172b9;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn:hover {
  background-color: #245285;
}

.btn.btn-big {
  padding: 20px 50px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 300;
  color: #414141;
}

.section-description {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.3;
  color: #787878;
}


/* Header */
.header {
  height: 110px;
  border-bottom: 1px solid #dadada;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 65px;
}

.nav-list {
  display: flex;
  margin: auto;
}

.nav-item {
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
}

.nav-link {
  color: #1c1c1c;
  transition: color .3s ease;
}

.nav-link:hover {
  color: #245285;
}

.nav-item.is-active .nav-link {
  color: #3172b9
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  padding: 15px 35px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Hero */
.section-hero {
  background: url('/img/hero.jpg') right center no-repeat white;
  background-size: contain;
}
.hero-container {
  padding-top: 120px;
  padding-bottom: 130px;
}
.hero-content {
  max-width: 510px;
}

.section-hero-heading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  color: #1c1c1c;
}

.section-hero-description {
  margin-top: 0px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 25px;
  color: #787878
}

.section-hero-action {
  display: inline-block;
}

.section-hero-btn-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  color: #787878;
  text-align: center;
}

.section-hero-ssl-icon {
  display: inline-block;
  width: 13px;
  height: 17px;
  margin-right: 10px;
  background: url('/img/Shield-icon.svg') center center no-repeat transparent;
  background-size: contain;
  transform: translateY(-1px);
}
/* What We Do */
.section-do {
  margin-top: 225px;
  padding-bottom: 200px;
  border-bottom: 1px solid #dadada;
}

.section-do-list {
  display: flex;
  margin-top: 55px;
}

.section-do-item {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.section-do-item:hover {
  cursor: pointer;
  color: #fff;
  background-color:#3172b9;
}

.section-do-item:hover .section-do-description {
  color: #fff;
}

.section-do-item:hover .section-do-heading {
  color: #fff;
}

.section-do-icon .cls-1 {
  transition: color 0.3s ease;
}

.section-do-item:hover .section-do-icon .cls-1 {
  fill: #fff;
}


.section-do-description {
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: #787878;
  transition: color 0.3s ease;
}

.section-do-item:not(:last-child) {
  margin-right: 30px;
}

.section-do-heading {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  color: #1c1c1c;
  transition: color 0.3s ease;
}

.section-do-icon {
  margin-bottom: 32px;
}

/* Our Happy Clients */
.clients {
  padding-top: 100px;
  padding-bottom: 161px;
  border-bottom: 1px solid #dadada;
}

.section-heading-clients{
  margin-bottom: 45px;
}

.section-clients-list {
  display: flex;
}

.section-clients-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 33.33%;
  padding: 55px 35px 30px 35px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}

.section-clients-item:not(:last-child) {
  margin-right: 30px;
}

.section-clients-testimonial {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 35px;
  font-size: 14px;
  line-height: 25px;
  color: #787878;
}

.section-clients-user{
  display: flex;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid #d2d2d2;
}

.section-clients-avatar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border: 2px solid #3f7bbe;
  border-radius: 50%;
}

.section-clients-user-name {
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  color: #1c1c1c;
}

.section-clients-user-description {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #787878
}
/* Сontacts */
.section-contacts {
  padding-top: 70px;
  padding-bottom: 170px;
  border-bottom: 1px solid #dadada;
}

.section-headind-contacts{
  margin-top: 0px;
  margin-bottom: 120px;
  font-size: 36px;
  line-height: 28px;
  font-weight: 300;
  color: #414141;
}

.section-contacts-list {
  display: flex;
}

.section-contacts-item {
  flex: 1 1 33.33%;
}

.section-contacts-info {
  max-width: 250px;
  font-size: 14px;
  line-height: 25px;
  color: #787878
}

.section-contacts-link {
  font-size: 14px;
  line-height: 25px;
  color: #787878;
  transition: color 0.3s ease;
}

.section-contacts-link:hover {
  color:#3172b9;
}

.section-contacts-icon {
  display: block;
  height: 26px;
  margin-bottom: 29px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.section-contacts-icon-gps {
  background-image: url('/img/gps.png');
  background-size: auto 22px;
}

.section-contacts-icon-phone {
  background-image: url('/img/phone.png');
}

.section-contacts-icon-mail {
  background-image: url('/img/mail.png');
  background-size: auto 19px;
}

.section-contacts-heading {
  display: block;
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 45px;
}

/* Form */
.section-form {
  padding-top: 116px;
  padding-bottom: 116px;
  border-bottom: 1px solid #dadada;
}

.section-headind-form {
  margin-top: 0px;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 21px;
  font-weight: 300;
  color: #1c1c1c;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 0px 59px;
}

.input,
.btn-submit {
  flex: 0 0 calc(25% - 20px);
  height: 60px;
  border-radius: 30px;
}

.input {
  padding-left: 30px;
  border: 1px solid #dadada;
  transition: border 0.3s ease;
}

.input:hover {
  border: 1px solid #3172b9;
}

.input::placeholder {
  color: #787878;
}

.btn-submit {
  padding: 23px 59px;
  font-size: 16px;
  border-color: transparent;
}

/* Footer */
.footer {
  height: 125px;
}

.container-footer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.footer-logo {
  margin-right: 25px;
}

.footer-copyrights {
  font-size: 12px;
  line-height: 17;
  color: #787878;
}

.footer-nav-list{
  display: flex;
  margin-right: 65px;
}

.footer-nav-link {
  color: #787878;
  transition: color 0.3s ease;
}

.footer-nav-link:hover {
  color: #3172b9;
}

.footer-nav-item {
  font-size: 14px;
  line-height: 1;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}

.footer-social-icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  transition: background-color 0.3s ease;
}

.footer-social-icon:hover {
  /* box-shadow: 0 0 5px 2px #3172b9; */
  border-bottom: 3px solid #3172b9;
}

.footer-social-icon-twitter {
  width: 19px;
  height: 16px;
  background-image: url('/img/Twitter.svg');
}

.footer-social-icon-linkedin {
  width: 19px;
  height: 19px;
  background-image: url('/img/Linkedin.svg');
  transform: translateY(-2px);
}

.footer-social-icon-email {
  width: 24px;
  height: 18px;
  background-image: url('/img/Email.svg');
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 30px;
}
